#container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 300px;
  }
  
  p {
    font-size: 16px;
    margin: 0 0 10px 0;
  }
  
  button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }
  
  #zoom-in {
    font-size: 20px;
    
  }
  
  #zoom-out {
    font-size: 12px;
  
  }
  